/target
.DS_Store

.idea
.direnv
.envrc

Cargo.lock
**/.DS_Store

# generated binary files
/generated-bins
wormhole/tests/*.bin
wormhole/tests/*.hex

# wormhole fuzzing files
.env.qac
transfer_proof.json